<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<title>Приложение</title>
	</head>
	<body>
		<div style="width: 30%; padding: 10px;min-width: 300px;">
			<h3>
				Портал СРП (для администраторов)
			  </h3>
			  <h4>
				Приложение
			  </h4>
			  <div style="padding-bottom: 10px; padding-top: 10px;">
                <a class="btn btn-primary" href="/admin" role="button">На главную</a>
            </div>
			<form method="POST" action="adminSave">
				<div class="form-group">
					<label for="appID">Идентификатор приложения</label>
					<input readonly name="appID" type="text" class="form-control" id="appID" aria-describedby="appIDText" value="{{ appObject._id }}">
					<small id="appIDText" class="form-text text-muted">Уникальный идентификатор приложения в системе</small>
				</div>
				<div class="form-group">
					<label for="name">Наименование приложения</label>
					<input required minlength="1" name="name" type="text" class="form-control" id="name" placeholder="Введите наименование" value="{{ appObject.name }}">
				</div>
				<div class="form-group">
					<label for="devName">Наименование разработчика</label>
					<input required minlength="1" name="devName" type="text" class="form-control" id="devName" value="{{ appObject.devName }}">
				  </div>
				  <div class="form-group">
					<label for="email">E-mail разработчика</label>
					<input required name="email" type="email" class="form-control" id="email" value="{{ appObject.email }}">
				  </div>
				<div class="form-group">
					<label for="appSite">Ссылка на приложение</label>
					<input required minlength="1" name="appSite" type="url" class="form-control" id="appSite" value="{{ appObject.appSite }}">
				</div>
				<div class="form-group">
					<label for="appDesc">Описание приложения</label>
					<textarea required minlength="1" name="appDesc" class="form-control" id="appDesc" rows="3" placeholder="Введите описание">{{ appObject.desc }}</textarea>
				</div>
				<div class="form-group">
					<label for="date">Дата регистрации (UTC)</label>
					<input disabled name="date" type="text" class="form-control" id="date" value="{{ appObject.date }}">
				  </div>
				<div class="form-group">
					<label for="list">Список файлов</label>
					<select name="list" id="list">
						{% if appObject.list=='off' %}
							<option selected value="off">
								Недоступно
							</option>
						{% else %}
							<option value="off">
								Недоступно
							</option>
						{% endif %}
						{% if appObject.list=='zapros' %}
							<option selected value="zapros">
								Запрошено
							</option>
						{% else %}
							<option value="zapros">
								Запрошено
							</option>
						{% endif %}
						{% if appObject.list=='on' %}
							<option selected value="on">
								Разрешено
							</option>
						{% else %}
							<option value="on">
								Разрешено
							</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="read">Чтение файла</label>
					<select name="read" id="read">
						{% if appObject.read=='off' %}
							<option selected value="off">
								Недоступно
							</option>
						{% else %}
							<option value="off">
								Недоступно
							</option>
						{% endif %}
						{% if appObject.read=='zapros' %}
							<option selected value="zapros">
								Запрошено
							</option>
						{% else %}
							<option value="zapros">
								Запрошено
							</option>
						{% endif %}
						{% if appObject.read=='on' %}
							<option selected value="on">
								Разрешено
							</option>
						{% else %}
							<option value="on">
								Разрешено
							</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="write">Запись в файл</label>
					<select name="write" id="write">
						{% if appObject.write=='off' %}
							<option selected value="off">
								Недоступно
							</option>
						{% else %}
							<option value="off">
								Недоступно
							</option>
						{% endif %}
						{% if appObject.write=='zapros' %}
							<option selected value="zapros">
								Запрошено
							</option>
						{% else %}
							<option value="zapros">
								Запрошено
							</option>
						{% endif %}
						{% if appObject.write=='on' %}
							<option selected value="on">
								Разрешено
							</option>
						{% else %}
							<option value="on">
								Разрешено
							</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="delete">Удаление файла</label>
					<select name="delete" id="delete">
						{% if appObject.delete=='off' %}
							<option selected value="off">
								Недоступно
							</option>
						{% else %}
							<option value="off">
								Недоступно
							</option>
						{% endif %}
						{% if appObject.delete=='zapros' %}
							<option selected value="zapros">
								Запрошено
							</option>
						{% else %}
							<option value="zapros">
								Запрошено
							</option>
						{% endif %}
						{% if appObject.delete=='on' %}
							<option selected value="on">
								Разрешено
							</option>
						{% else %}
							<option value="on">
								Разрешено
							</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="mkdir">Создание папки</label>
					<select name="mkdir" id="mkdir">
						{% if appObject.mkdir=='off' %}
							<option selected value="off">
								Недоступно
							</option>
						{% else %}
							<option value="off">
								Недоступно
							</option>
						{% endif %}
						{% if appObject.mkdir=='zapros' %}
							<option selected value="zapros">
								Запрошено
							</option>
						{% else %}
							<option value="zapros">
								Запрошено
							</option>
						{% endif %}
						{% if appObject.mkdir=='on' %}
							<option selected value="on">
								Разрешено
							</option>
						{% else %}
							<option value="on">
								Разрешено
							</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="rename">Переименование</label>
					<select name="rename" id="rename">
						{% if appObject.rename=='off' %}
							<option selected value="off">
								Недоступно
							</option>
						{% else %}
							<option value="off">
								Недоступно
							</option>
						{% endif %}
						{% if appObject.rename=='zapros' %}
							<option selected value="zapros">
								Запрошено
							</option>
						{% else %}
							<option value="zapros">
								Запрошено
							</option>
						{% endif %}
						{% if appObject.rename=='on' %}
							<option selected value="on">
								Разрешено
							</option>
						{% else %}
							<option value="on">
								Разрешено
							</option>
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="adminPassword">Пароль администратора</label>
					<input required minlength="1" name="adminPassword" type="password" class="form-control" id="adminPassword" placeholder="Введите пароль">
				  </div>
				<button type="submit" class="btn btn-primary">Сохранить изменения</button>
			</form>
			<form method="POST" action="adminChangePassword" style="padding-top: 10px;">
				<div class="form-group">
					<b>Изменение пароля разработчика</b>
				</div>
				<input name="appID" type="hidden" class="form-control" id="appID" aria-describedby="appIDText" value="{{ appObject._id }}">
				<div class="form-group">
					<label for="adminPassword">Пароль администратора</label>
					<input name="adminPassword" type="password" class="form-control" id="adminPassword" placeholder="Введите пароль">
				</div>
                <div class="form-group">
					<label for="newPassword">Новый пароль разработчика</label>
					<input required minlength="10" name="newPassword" type="password" class="form-control" id="newPassword" placeholder="Введите новый пароль">
                    <small id="newPasswordText" class="form-text text-muted">Минимум 10 символов</small>
				</div>
				<button type="submit" class="btn btn-warning">Изменить пароль</button>
			</form>
			<form method="POST" action="adminDelete" style="padding-top: 10px;">
				<div class="form-group">
					<b>Удаление приложения</b>
				</div>
				<input name="appID" type="hidden" class="form-control" id="appID" aria-describedby="appIDText" value="{{ appObject._id }}">
				<div class="form-group">
					<label for="adminPassword">Пароль администратора</label>
					<input required minlength="1" name="adminPassword" type="password" class="form-control" id="adminPassword" placeholder="Введите пароль">
				</div>
				<button type="submit" class="btn btn-danger">Удалить приложение</button>
			</form>
		</div>
	</body>
</html>