<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<title>Добавление приложения</title>
	</head>
	<body>
  <div style="width: 30%; padding: 10px;min-width: 300px;">
    <h3>
      Портал СРП
    </h3>
    <h4>
      Добавление приложения
    </h4>
    <div style="padding-bottom: 10px; padding-top: 10px;">
      <a class="btn btn-primary" href="/" role="button">На главную</a>
    </div>
	<form action="createSave" method="POST">
  <div class="form-group">
    <label for="name">Наименование приложения</label>
    <input required minlength="1" name="name" type="text" class="form-control" id="name" aria-describedby="nameText" placeholder="Введите наименование">
    <small id="nameText" class="form-text text-muted">Поле не может быть пустым</small>
  </div>
  <div class="form-group">
    <label for="devName">Наименование разработчика</label>
    <input required minlength="1" name="devName" type="text" class="form-control" id="devName" aria-describedby="devNameText" placeholder="Введите наименование">
    <small id="devNameText" class="form-text text-muted">Поле не может быть пустым</small>
  </div>
  <div class="form-group">
    <label for="email">E-mail разработчика</label>
    <input required minlength="1" name="email" type="email" class="form-control" id="email" aria-describedby="emailText" placeholder="Введите e-mail">
    <small id="emailText" class="form-text text-muted">Поле не может быть пустым</small>
  </div>
  <div class="form-group">
    <label for="appSite">Ссылка на приложение</label>
    <input required minlength="1" name="appSite" type="url" class="form-control" id="appSite" aria-describedby="appSiteText">
    <small id="appSiteText" class="form-text text-muted">Поле не может быть пустым</small>
  </div>
  <div class="form-group">
    <label for="appDesc">Описание приложения</label>
    <textarea required minlength="1" name="desc" class="form-control" id="appDesc" rows="3" aria-describedby="appDescText" placeholder="Введите описание"></textarea>
    <small id="appDescText" class="form-text text-muted">Администрация принимает решения об одобрении приложения на основании его названия и описания</small>
  </div>
  <div class="form-group">
	Разрешения, необходимые приложению:
  </div>
  <div class="form-group form-check">
    <input name="list" type="checkbox" class="form-check-input" id="list">
    <label class="form-check-label" for="list" aria-describedby="listText">Список файлов</label>
	  <small id="listText" class="form-text text-muted">Получение списка файлов и папок в папке по её абсолютному пути</small>
  </div>
  <div class="form-group form-check">
    <input name="read" type="checkbox" class="form-check-input" id="read">
    <label class="form-check-label" for="read" aria-describedby="readText">Чтение файла</label>
	  <small id="readText" class="form-text text-muted">Получение содержимого файла по его абсолютному пути</small>
  </div>
  <div class="form-group form-check">
    <input name="write" type="checkbox" class="form-check-input" id="write">
    <label class="form-check-label" for="write" aria-describedby="writeText">Запись в файл</label>
	  <small id="writeText" class="form-text text-muted">Запись содержимого в файл по его абсолютному пути</small>
  </div>
  <div class="form-group form-check">
    <input name="delete" type="checkbox" class="form-check-input" id="delete">
    <label class="form-check-label" for="delete" aria-describedby="deleteText">Удаление файла</label>
	  <small id="deleteText" class="form-text text-muted">Удаление файла по его абсолютному пути</small>
  </div>
  <div class="form-group form-check">
    <input name="mkdir" type="checkbox" class="form-check-input" id="mkdir">
    <label class="form-check-label" for="mkdir" aria-describedby="mkdirText">Создание папки</label>
	  <small id="mkdirText" class="form-text text-muted">Создание папки по её абсолютному пути</small>
  </div>
  <div class="form-group form-check">
    <input name="rename" type="checkbox" class="form-check-input" id="rename">
    <label class="form-check-label" for="rename" aria-describedby="renameText">Переименование</label>
	  <small id="renameText" class="form-text text-muted">Переименование файла или папки по абсолютному пути и новому имени</small>
  </div>
  <div class="form-group">
    <label for="appPassword">Пароль разработчика приложения</label>
    <input required minlength="10" name="appPassword" type="password" class="form-control" id="appPassword" aria-describedby="appPasswordText" placeholder="Введите пароль">
    <small id="appPasswordText" class="form-text text-muted">Минимум 10 символов</small>
  </div>
  <button type="submit" class="btn btn-primary">Добавить приложение</button>
</form>
</div>
	</body>
</html>