<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<title>Приложение</title>
	</head>
	<body>
		<div style="width: 30%; padding: 10px;min-width: 300px;">
			<h3>
                Портал СРП
            </h3>
            <h4>
                Секретный ключ приложения
            </h4>
            <div style="padding-bottom: 10px; padding-top: 10px;">
                <a class="btn btn-primary" href="/" role="button">На главную</a>
            </div>
            <form>
				<div class="form-group">
					<label for="appID">Идентификатор приложения</label>
					<input readonly name="appID" type="text" class="form-control" id="appID" aria-describedby="appIDText" value="{{ appObject._id }}">
					<small id="appIDText" class="form-text text-muted">Уникальный идентификатор приложения в системе</small>
				</div>
                <div class="form-group">
					<label for="secretKey">Секретный ключ приложения</label>
					<input readonly name="secretKey" type="text" class="form-control" id="secretKey" aria-describedby="secretKeyText" value="{{ appObject.secretKey }}">
					<small id="secretKeyText" class="form-text text-muted">Сохраните его для работы с системой</small>
				</div>
                <div class="form-group">
                    <a class="btn btn-primary" href="/" role="button">К приложению</a>
                </div>
            </form>
        </div>
    </body>
</html>