<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--script src="https://geraintluff.github.io/sha256/sha256.min.js"></script-->
		<title>Блокнот</title>
	</head>
	<body>
		<div style="width: 30%; padding: 10px;min-width: 500px;">
            <h3>
              Блокнот
            </h3>
            <h5>
                <a href="http://localhost:49051/getApp?id=608f1351b59c6f34109189d9">Информация о приложении на Портале СРП</a>
            </h5>
            <form id="bForm" onsubmit="formSubmit(this);return false">
                <div class="form-group">
                    <label for="path">Путь файла</label>
                    <input required minlength="1" name="path" type="text" class="form-control" id="path" aria-describedby="devNameText" value="C:\Users\maxno\Питон\VKR\Client SRP\meow.txt" placeholder="Введите путь файла">
                  </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="actionType='open'">Открыть</button>
                    <button type="submit" class="btn btn-primary" onclick="actionType='save'">Сохранить</button>
                    <button id="waiting" disabled class="btn btn-secondary" style="display: none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                        <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                      </svg></button>
                      <button id="done" disabled class="btn btn-secondary" style="display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                          </svg>
                      </button>
                      <button id="error" disabled class="btn btn-secondary" style="display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                      </button>
                </div>
                <div class="form-group">
                    <textarea name="textField" class="form-control" id="textField" rows="10"></textarea>
                </div>
            </form>
            <script>
                let actionType=null;
                let APP_ID="608f1351b59c6f34109189d9";
                let CLIENT_ADDRESS="http://localhost:49053/";
                function getReadCommandObject(args,APP_ID)
                {
                    return {"type":"read","args":{"path":args.path},"appID":APP_ID};
                }
                function getWriteCommandObject(args,APP_ID)
                {
                    return {"type":"write","args":{"path":args.path,"bytes":args.bytes},"appID":APP_ID};
                }
                function getSortedObject(uObj)
                {
                    uObj["args"]=Object.keys(uObj["args"]).sort().reduce(
                    (obj, key) => { 
                        obj[key] = uObj["args"][key]; 
                        return obj;
                    }, 
                    {}
                    );
                    return Object.keys(uObj).sort().reduce(
                    (obj, key) => { 
                        obj[key] = uObj[key]; 
                        return obj;
                    }, 
                    {}
                    );
                }
                async function sha256(message) {
                    // encode as UTF-8
                    const msgBuffer = new TextEncoder().encode(message);                    

                    // hash the message
                    const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);

                    // convert ArrayBuffer to Array
                    const hashArray = Array.from(new Uint8Array(hashBuffer));

                    // convert bytes to hex string                  
                    const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
                    return hashHex;
                }
                async function getHash(commandObject)
                {
                    console.log("json");
                    console.log(JSON.stringify(commandObject))
                    console.log("sha256")
                    let t=await sha256(JSON.stringify(commandObject));
                    console.log(t)
                    return t;
                }
                async function formSubmit(theForm)
                {
                    //console.log(theForm);
                    //console.log(theForm.path.value);
                    //console.log(theForm.textField.value);
                    //console.log(actionType);
                    waiting.style.display="inline-block";
                    done.style.display="none";
                    error.style.display="none";
                    if(actionType==="open")
                    {
                        console.log(theForm.path.value);
                        let path=encodeURIComponent(theForm.path.value.replaceAll("\\", "/"));
                        let co=getReadCommandObject({"path":path},APP_ID);
                        console.log(co);
                        co=getSortedObject(co);
                        console.log(JSON.stringify(co));
                        let h = await getHash(co);
                        console.log(h);
                        sendServerPost(h,co);
                    }
                    else
                    {
                        let path=encodeURIComponent(theForm.path.value.replaceAll("\\", "/"));
                        let bytes=bytesFromString(theForm.textField.value);
                        let co=getWriteCommandObject({"path":path,"bytes":bytes},APP_ID);
                        co=getSortedObject(co);
                        console.log(JSON.stringify(co));
                        let h = await getHash(co);
                        sendServerPost(h,co);
                    }
                    return false;
                }
                /*let stroka="lol \xd0\xba\xd0\xb5\xd0\xba";
                console.log(escape(stroka))
                let txt=decodeURIComponent(escape(stroka));
                console.log(txt);
                console.log(unescape(encodeURIComponent(txt)));
                var utf8 = unescape(encodeURIComponent("lol кек"));

                var arr = [];
                for (var i = 0; i < utf8.length; i++) {
                    arr.push(utf8.charCodeAt(i));
                }
                decodeURI(escape(String.fromCharCode(108, 111, 108, 32, 208, 186, 208, 181, 208, 186)))*/
                function stringFromBytes(bm)
                {
                    return decodeURIComponent(escape(String.fromCharCode(...bm)))
                }
                function bytesFromString(s)
                {
                    let utf8 = unescape(encodeURIComponent(s));
                    let arr = [];
                    for (let i = 0; i < utf8.length; i++) {
                        arr.push(utf8.charCodeAt(i));
                    }
                    return arr;
                }
                
                function sendServerPost(hash,commandObject)
                {
                    var xhr = new XMLHttpRequest();
                    var url = "/command";
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            receiveSign(xhr.responseText,commandObject);
                        }
                    };
                    var data = JSON.stringify({"commandHash": hash});
                    xhr.send(data);
                }
                
                function sendClientPost(commandObject)
                {
                    console.log("Отправляем на Клиент:");
                    console.log(commandObject);
                    console.log(JSON.stringify(commandObject));
                    var xhr = new XMLHttpRequest();
                    var url = CLIENT_ADDRESS;
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            //receiveSign(xhr.responseText,command);
                            //alert(xhr.responseText);
                            receiveDataFromClient(xhr.responseText,commandObject)
                        }
                    };
                    var data = JSON.stringify(commandObject);
                    xhr.send(data);
                }
                function receiveDataFromClient(d,c)
                {
                    console.log("Получен ответ от клиента");
                    console.log(d);
                    let responseObject=JSON.parse(d);
                    if(responseObject.result.success==="True")
                    {
                        done.style.display="inline-block";
                        waiting.style.display="none";
                        error.style.display="none";
                    }
                    else
                    {
                        error.style.display="inline-block";
                        waiting.style.display="none";
                        done.style.display="none";
                    }
                    if(c.type==="read")
                    {
                        let fileBytes=responseObject.result.bytes;
                        console.log(fileBytes);
                        document.getElementById("textField").value=stringFromBytes(fileBytes);
                    }
                }
                function receiveSign(sign,commandObject)
                {
                    console.log("Получена подпись от сервера")
                    console.log(sign)
                    commandObject.serverSign=sign
                    console.log(commandObject)
                    sendClientPost(commandObject);
                }
                //let t = getReadCommandObject({"path":"C:\\Users\\maxno\\Documents\\VKR\\Client SRP\\meow.txt"},APP_ID)
                //t=getSortedObject(t)
                //let hash = getHash(t);
                //console.log(t)
                //console.log(hash)
                //sendServerPost(hash,t);
            </script>
        </div>
	</body>
</html>